article{
    display: flex;
    flex-direction: column;
}

.btnBack{
    display: none;
}

.question{
    display: none;
}

.result{
    display: none;
}

.banner{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 40%;
}

.banner-img{
    width: 100%;
}

.kakao_ad{
    position: fixed;
    bottom:0;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

#img{
    border-radius: 1rem;
    width: 60%;
    height: 60%;
    margin: 0 auto;
}
