article{
    display: flex;
    flex-direction: column;
}

.question{
    display: none;
}

.result{
    display: none;
}

.kakao_ad{
    margin: 0 auto;
}

#img{
    border-radius: 1rem;
    width: 60%;
    height: 60%;
    margin: 0 auto;
}
